.container {
    width: 100%;
}

.sheet {
    padding: 4em;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(2px);
    color: #999;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    max-width: 1024px;
    margin: 0 auto;
}