.container {
    width: 100%;
}

.sheet {
    padding: 3em;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) contrast(80%) blur(2px);
    border-radius: 14px;
    box-shadow:
        -12px 8px 16px rgba(0, 0, 0, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.5), /* Inner top light */
        inset 0.5px -1px 0 rgba(255, 255, 255, 0.2); /* Inner bottom light */;
    max-width: 1024px;
    margin: 0 auto;

    color: var(--body-text-color);
    text-shadow: 1px 1px #00000057;
}

/* .sheetBody {
    padding: 4em;
    background: rgba(208, 210, 230, 0.8);
    border-radius: 12px;

    min-height: 255px;
} */
