@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
    --grid-size: 60px;
    --grid-size-small: calc(var(--grid-size) * 0.2);
    --heading-color: #dec3ad;
  }
  
.body {
    background-color: #252525;
    background-position: 0 100vh;
    background-size:
      var(--grid-size) var(--grid-size),
      var(--grid-size) var(--grid-size),
      var(--grid-size-small) var(--grid-size-small),
      var(--grid-size-small) var(--grid-size-small);
    background-image:
      linear-gradient(#353535 2px, transparent 2px),
      linear-gradient(90deg, #353535 2px, transparent 2px),
      linear-gradient(#333 1px, transparent 1px),
      linear-gradient(90deg, #333 1px, transparent 1px);
  
    padding: 0;
    margin: 0;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.cursiveHeading {
  font-family: 'Lobster', cursive;
  font-size: 32pt;
  color: var(--heading-color);
}
