/* global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: unset;
    text-decoration: unset;
}

:root {
    --grid-size: 60px;
    --grid-size-small: calc(var(--grid-size) * 0.2);

    --heading-color: rgb(208 210 230);
    --body-text-color: #e8ebff;
  }

body {
    background-color: #252525;
}